/* src/index.css */
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800&family=Inter:wght@400;500;600&family=Kameron:wght@400..700&family=Kaushan+Script&display=swap');

@theme {
  --color-brand-pink: #EC1E63;
  --color-brand-purple: #6B21A8;
  --color-brand-deep: #1E0B36;
  --color-brand-gold: #F5C542;

  --font-display: "Poppins", sans-serif;
  --font-body: "Montserrat", sans-serif;
  --font-serif-display: "Kameron", serif;
  --font-script: "Kaushan Script", cursive;
}

body {
  font-family: theme(--font-body);
}

h1, h2, h3, .font-display {
  font-family: theme(--font-display);
}

.font-serif-display {
  font-family: theme(--font-serif-display);
  font-optical-sizing: auto;
  font-style: normal;
}

.font-script {
  font-family: theme(--font-script);
  font-weight: 500;
  font-style: normal;
}